@use '../../../../styles/colors';

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 auto;
  width: 100%;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;
  color: colors.$color-black;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 24px;
  border: 1px solid colors.$glassy-border;
  background: colors.$color-white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
  backdrop-filter: blur(6px);
  z-index: 11;
  cursor: pointer;
  height: 48px;
  padding: 8px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 8px;
}

.volumeButton {
  width: 32px;
  height: 32px;
  flex-shrink: 0;

  &:nth-child(3) {
    svg {
      transform: rotate(180deg);
    }
  }

  &:hover {
    background-color: colors.$color-cyan;

    svg {
      stroke: colors.$color-white;
      path {
        stroke: colors.$color-white;
      }
    }
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 28px;
  left: 0;
  padding: 30px 9px 13px;
  background: colors.$color-white;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 100%;
  z-index: 10;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;
}

.setButton {
  width: 100%;
}

.circularButton {
  color: colors.$color-black-40;

  &:hover {
    background-color: colors.$color-cyan;
    color: colors.$color-white;
    text-shadow: none;
  }
}

.active {
  background-color: colors.$color-cyan;
  color: colors.$color-white;
  text-shadow: none;

  path {
    fill: colors.$color-white;
  }
}