@use '../../styles/colors';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  flex-shrink: 0;
  padding: 17px 15px 17px 13px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid colors.$glassy-border;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-backdrop-filter: blur(6px); /* Safari */
  backdrop-filter: blur(6px);
}

.icon {
  height: 21px;
  width: 21px;
  flex-shrink: 0;
  color: colors.$color-white-40;
  margin-right: 8px;
}

.input {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: colors.$color-white;
  width: 100%;

  &::placeholder {
    font-size: 12px;
    color: colors.$color-white-40;
  }
}