@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #e0e0e0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent
    );
    animation: shimmer 1.6s infinite;
  }
}

.card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
}

.image {
  height: 130px;
  width: 100%;
  @extend .skeleton;
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  width: 60%;
  height: 1rem;
  border-radius: 4px;
  @extend .skeleton;
}

.index {
  width: 30px;
  height: 1rem;
  border-radius: 4px;
  @extend .skeleton;
}

.description {
  width: 100%;
  height: 0.75rem;
  border-radius: 4px;
  @extend .skeleton;
}

.button {
  width: 100%;
  height: 36px;
  margin-top: 12px;
  border-radius: 4px;
  @extend .skeleton;
}