@use '../../../styles/colors';

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.08);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.08),
      transparent
    );
    animation: shimmer 1.6s infinite;
  }
}

.card {
  min-height: 242px;
  width: 100%;
  border: 1px solid colors.$glassy-border;
  border-radius: 24px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.08);
}

.image {
  height: 172px;
  width: 100%;
  border-radius: 24px;
  background: linear-gradient(159deg, rgba(6, 7, 7, 0.00) 34.52%, #323539 49.07%, rgba(96, 101, 109, 0.00) 64.47%);
  @extend .skeleton;

  img {
    height: 100%;
    width: 100%;
    object-fit: unset;
    will-change: opacity;
    backface-visibility: hidden;
  }
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  width: 60%;
  height: 1rem;
  border-radius: 4px;
  @extend .skeleton;
}

.index {
  width: 30px;
  height: 1rem;
  border-radius: 4px;
  @extend .skeleton;
}

.button {
  width: 100%;
  height: 36px;
  margin-top: 12px;
  border-radius: 4px;
  @extend .skeleton;
}