$color-white: #fff;
$color-pot-black: #161616;
$color-cyan: #0098EA;
$color-black: #000;
$color-white-40: rgba(255, 255, 255, .4);
$color-red: #FA3737;
$color-green: #37FA6B;

$primary-background-color: $color-pot-black;

$glassy-border: rgba(255, 255, 255, .08);