$color-white: #fff;
$color-pot-black: #161616;
$color-cyan: #0098EA;
$color-gray-80: #ccc;
$color-black: #000;
$color-black-40: rgba(0, 0, 0, 0.4);
$color-white-40: rgba(255, 255, 255, .4);
$color-red: #FA3737;
$color-green: #37FA6B;
$color-grey85: #D9D9D9;

$primary-background-color: $color-pot-black;

$glassy-border: rgba(255, 255, 255, .08);