$base-font-size: 62.5%; // 1rem = 10px

$primary-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$font-size-20: 2rem;
$font-size-16: 1.6rem;
$font-size-14: 1.4rem;
$line-height: 1.5;