@import '../../styles/typography';
@import '../../styles/colors';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .icon {
    height: 32px;
    width: 32px;
    border: 1px solid green;
  }

  .buttonText {
    font-size: $font-size-14;
    margin-top: .5rem;
  }

  .bar {
    background: $primary-background-color;
    display: flex;
    justify-content: space-between;
    height: inherit;
    border-top: 2px solid green;
    padding: .25rem;
    width: 100%;
  }

  .item {
    height: 100%;
    flex: 1 1 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  }
}