@import '../../styles/typography';
@import '../../styles/colors';

.icon {
  height: 32px;
  width: 32px;
  margin-bottom: 4px;
  border: 1px solid rgba(211, 211, 211, .3);
}

.bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding-bottom: env(safe-area-inset-bottom); /* for iOS safe area */
  background: rgba(28, 28, 28, 0.6);
  backdrop-filter: blur(20px); /* iOS-style frosted glass effect */
  -webkit-backdrop-filter: blur(20px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

.item {
  height: 100%;
  flex: 1 1 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #999;
  cursor: pointer;
}