@use '../../styles/colors';
@use '../../styles/typography';

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 79px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 40px;
  background: rgba(21, 21, 21, 0.85);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
  backdrop-filter: blur(6px); /* iOS-style frosted glass effect */
  -webkit-backdrop-filter: blur(6px);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 30px env(safe-area-inset-bottom); /* for iOS safe area */
  z-index: 999;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: colors.$color-white-40;
  font-family: typography.$secondary-font-family;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all .3s ease;
  cursor: pointer;
  width: 60px;
  gap: 4px;

  path, ellipse {
    fill: colors.$color-white-40;
  }

  &:hover {
    @extend .active;
  }
}

.active {
  color: colors.$color-white;

  path, ellipse {
    fill: colors.$color-white;
  }
}