@import '../../styles/colors';

.container {
  position: relative;
  width: fit-content;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  border: 1px solid $glassy-border;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-backdrop-filter: blur(6px); /* Safari */
  backdrop-filter: blur(6px);
  color: $color-white;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 16px;
}

.large {
  min-height: 48px;
}

.small {
  min-height: 32px;
}

.label {
  text-align: left;
  text-transform: capitalize;
  color: $color-white-40;
  width: 100%;
}

.selected {
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chevron {
  margin-left: 6px;
  transition: transform 0.3s ease;
}

.activeChevron {
  transform: rotate(180deg);
}

.menu {
  position: absolute;
  top: 110%;
  left: 0;
  border-radius: 24px;
  border: 1px solid $glassy-border;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-backdrop-filter: blur(6px); /* Safari */
  backdrop-filter: blur(6px);
  padding: 10px 16px;
  z-index: 100;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
  cursor: pointer;
  width: 100%;

  &.active {
    color: #fff;
  }

  &:hover {
    color: #fff;
  }
}