@import '../../../styles/colors';

.container {
  display: flex;
  align-items: center;
  height: 92px;
  width: 100%;
  border-radius: 24px;
  border: 1px solid $glassy-border;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-backdrop-filter: blur(6px); /* Safari */
  backdrop-filter: blur(6px);

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.image {
  width: 92px;
  height: 92px;
  border-radius: 24px;
  border: 1px solid $glassy-border;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 2px rgba(0, 0, 0, 0.00) inset;
  -webkit-backdrop-filter: blur(6px); /* Safari */
  backdrop-filter: blur(6px);
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 8px 9px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 8px;
  width: 100%;
}

.caption {
  color: $color-white;
}

.id {
  color: $color-white-40;
  margin: 8px 0;
}

.button {
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}