@import '../../styles/colors';

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white-40;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: text-shadow .3s;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 24px;
  }

  &:hover {
    @extend .active;
  }
}

.active {
  color: $color-white;
  text-shadow: 0 0 .65px $color-white, 0 0 .65px $color-white;
}