.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 46px;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  margin: 10px 0;

  button {
    margin-right: 10px;
  }
}

.connectWalletButton {
  display: flex;
  margin-left: 12px;
}

.controlsWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}