@use '../../../../styles/colors';

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.08);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.08),
      transparent
    );
    animation: shimmer 1.6s infinite;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 9px 16px 8px 8px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 32.5px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.avatar {
  height: 48px;
  width: 48px;
  margin-right: 8px;
  border-radius: 50%;
  flex-shrink: 0;
  @extend .skeleton;
}

.block {
  height: 8px;
  margin-right: 8px;
  position: relative;
  width: 100%;
  @extend .skeleton;
}

.name {
  flex: 1 1 auto;
}

.price {
  margin: 0 24px;
  width: 120px;
}

.pairedBlock {
  display: flex;
  flex-direction: column;
  min-width: 40px;

  > div:nth-child(1) {
    margin-bottom: 4px;
  }
}