@import '../../styles/colors';

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid $glassy-border;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-backdrop-filter: blur(6px); /* Safari */
  backdrop-filter: blur(6px);
  overflow: hidden;
}

.toggleBtn {
  flex: 1;
  border: none;
  border-radius: 24px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $color-white;
  cursor: pointer;
  transition: color 0.35s ease, background 0.35s ease;
}

.active {
  color: $color-black;
  background: $color-white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
  backdrop-filter: blur(6px);
}

.gift {
  transform: translateX(0%);
}

.stickers {
  transform: translateX(100%);
}