.container {
  background: #1b1b1b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
  font-family: 'Inter', sans-serif;
  position: relative;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  border: 1px solid lightgrey;

  &:hover {
    transform: translateY(-4px);
  }
}

.avatar {
  min-height: 130px;
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border-bottom: 1px solid lightgrey;

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.name, .id {
  font-size: 12px;
  line-height: 1.25rem;
}

.name {
  font-weight: bold;
}

.description {
  font-size: 10px;
  line-height: 1.25;
  margin-top: 6px;
}

.purchaseButton {
  margin-top: 12px;
}