@import '../../styles/colors';
@import '../../styles/typography';

.container {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid $glassy-border;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-backdrop-filter: blur(6px); /* Safari */
  backdrop-filter: blur(6px);
  min-height: 242px;
  flex-shrink: 0;
}

.avatar {
  display: flex;
  height: 172px;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25), 0px -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-backdrop-filter: blur(6px); /* Safari */
  backdrop-filter: blur(6px);

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 24px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $color-white;
  padding: 8px;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  width: 100%;
}

.name {
  font-weight: bold;
}

.id {
  color: $color-white-40;
}

.description {
  margin: 8px 0;
}

.purchaseButton {
  margin-top: 8px;
}