.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.selectors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 8px;
  width: 100%;
}

.search,
.sorting {
  width: 50%;
}

.sorting {
  min-height: 48px;
}

.search {
  margin-right: 8px;
}

.resetButton {
  margin-right: 8px;
}