@import './styles/reset';
@import './styles/typography';
@import './styles/colors';

@font-face {
  font-family: 'SF Pro';
  src: url('./assets/fonts/SF Pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: $base-font-size;
  height: 100vh;
  background-color: $primary-background-color;
}

body {
  font-family: $primary-font-family;
  font-size: 14px;
  color: $color-white;
}